.App {
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
}

body{
  margin:0;
  padding:0;
  background-color: black;
  display:flex;
}

.Sidebar{
  height:100%;
  width: 300px;
  background-color: #14171A;
  float:left;
}
.Image{
  margin-left: 25px;
}
.Userid{
  margin-left:25px;
  color:#1DA1F2;
}
.SidebarList{
  height: 100%;
  padding: 0;
  width:100%;

}
.SidebarList .row{
  width: 100%;
  height: 60px;
  /* background-color : aqua; */
  /* border: 1px solid black; */
  list-style-type: none;
  margin:0%;
  display:flex;
  flex-direction: row;
  color:#F5F8FA;
  justify-content: center;
  align-items:center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.SidebarList .row:hover{
  cursor: pointer;
  background-color:  #1DA1F2;
}

.SidebarList #active{
  background-color:  #1DA1F2;
}
.row #icon{
  flex:30%;
  display:grid;
  place-items: center;
}
.row #title{
  flex:70%;
  
}
.input {
  float:center;
  height:2%;
  margin:20px;
  margin-left: 350px;
  padding:1%;
  width:700px;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: black;
  
  
}

.input::placeholder {
  color:#1DA1F2;

}
p{
  float:center;
  margin-left:400px;
  color:#1DA1F2;
}
.column {
  float: left;
  width: 25%;
  padding: 0px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
    }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}