.input {
  float: center;
  height: 2%;
  margin: 2px;
  margin-top: 0px;
  margin-left: 350px;
  padding: 1%;
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: black;
}

.input::placeholder {
  color: #1da1f2;
}

p {
  float: center;
  margin-left: 400px;
  color: #1da1f2;
}
